# Ignore virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Logs
*.log

# Mac/Linux system files
.DS_Store

# Model files (optional)
*.h5

# VS Code settings (optional)
.vscode/

